body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;   /* horizontal center */
    align-items: center;       /* vertical center */
    background-image: url("../images/original.jpg");
}

body.bad {
    background-image: url("../images/bad.jpg");
}

body.normal {
    background-image: url("../images/original.jpg");
}

body.happy {
    background-image: url("../images/happy.jpg");
}

body.sad {
    background-image: url("../images/sad.jpg");
}

h1{
    font-family: cursive;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 20px;
}

h1:hover{
    color: darkgray;
    cursor: pointer;
}


h2{
    font-family: "Gill Sans", sans-serif;
    text-align: center;
}

.buttons {
    display: flex;
    gap: 20px; /* space between buttons */

}

button{
    align-items: center;
    font-family: sans-serif;
    width: 200px;
    height: 50px;
    background-color: lightblue;
    color: white;
    cursor: pointer;

}

button:hover{
    background-color: lightgray;
    color: white;
    cursor: pointer;
    border: none;
}

.click3{
    background-color: #EBEBD1;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 10px;
    border: none;
    width: 50px;
    height: 30px;
}

