*{
    box-sizing: border-box;
}

body{
    font-family: "Noto Sans JP", sans-serif;
    background-color: beige;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
    margin: 0;
    height: 100vh;
    background-image: url("../images/original.jpg");
}

body.bad {
    background-image: url("../images/bad.jpg");
}

body.normal {
    background-image: url("../images/original.jpg");
}

body.happy {
    background-image: url("../images/happy.jpg");
}

body.sad {
    background-image: url("../images/sad.jpg");
}

.character{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:120px;
    height:65vh;
}

.ui{
    position:absolute;
    bottom:0;
    width:100%;
}

.nameBox{
    background:white;
    padding:8px 20px;
    width:120px;
    margin-left:40px;
    border-radius:10px 10px 0 0;
    font-weight:bold;
}

.dialogueBox{
    background:rgba(0,0,0,0.5);
    color:white;
    padding:25px;
    font-size:22px;
    min-height:90px;
}

.choices{
    display:flex;
    gap:20px;
    justify-content:center;
    margin-top:15px;
}

button{
    padding:12px 24px;
    font-size:16px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    background:white;
    transition:0.2s;
}

button:hover{
    transform:scale(1.05);
}

.quick{
    position:absolute;
    bottom:20px;
    left:20px;
    font-size:12px;
}

.secret{
    position:absolute;
    top:60px;
    right:20px;
    display:none;
}

h1{
    position:absolute;
    top:10px;
    left:20px;
    cursor:pointer;
}